<div class="sectionheader" style="
    background-color: #C16531;
    border-radius: 14px;
    padding: 12px 20px;
    text-align: center;
    margin: 2rem 0 1rem 0;
  ">
  <h2 style="margin: 0; color: white;">US-RSE Organizational Founding Members</h2>
</div>
<div style="width: 60%; margin: 2rem auto 0 auto; text-align: center;">
  {%- assign org_tier_keys = "premier,standard,basic" | split: "," -%}
  {%- for tier_key in org_tier_keys -%}
  {%- assign tier_members = site.data.org-members[tier_key] -%}
  {%- if tier_members %}
  <h3>{{ tier_key | capitalize }} Level</h3>
  {% assign org_tier = tier_members | sort: "date_joined", "last" %}
  {% include org-card-group.html %}
  {%- endif -%}
  {%- endfor %}
</div>
